.total {
    display: flex;
    margin-top: 2rem;
    border: thick double #8de4f0;
    padding: 1rem;
    border-radius: 10px;
    min-width: 360px;
    gap: 1rem;
    justify-content: space-evenly;
}

.total__item {
    text-align: center;
}

.total_striked {
    text-decoration: line-through red 2px;
}

.total_erase {
    display: none;
}

h2 {
    color: black;
    padding-top: 10px;
}